<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /ttt-6/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /ttt-6/index.html [L]
</IfModule>